<div class="pub-list-item" itemscope itemtype="http://schema.org/CreativeWork">
  <div class="row">

    {{ if .Params.image_preview }}

    <!-- <div class="col-md-12">
      <a href="{{ .Permalink }}">
        <img src="{{ "/img/" | relURL }}{{ .Params.image_preview }}" class="publication-banner"
             itemprop="image" style="max-width: 65%">
      </a>
    </div> -->

    {{ else if .Params.header.image}}

    <!-- <div class="col-md-12">
      <a href="{{ .Permalink }}">
        <img src="{{ "/img/" | relURL }}{{ .Params.header.image }}" class="publication-banner" itemprop="image" style="max-width: 65%">
      </a>
    </div> -->

    {{ end }}

    <div class="col-md-12">

      <h3 class="article-title" itemprop="name">
        <a href="{{ .Permalink }}" itemprop="url">{{ .Title }}</a>
      </h3>

      <div class="pub-authors" itemprop="author">
        {{ with .Params.authors }}
        {{ delimit . ", " | markdownify }}
        {{ end }}
      </div>

       <div class="pub-publication">
          {{ if .Params.submission }}
            Submitted to
          {{ else}}
            In
          {{ end }}
          <i>
            {{ .Params.publication | markdownify }},
            {{ .Date.Format "2006" }}
          </i>
      </div>

      <div class="pub-links">
        {{ partial "publication_links_detailed" (dict "content" . "is_list" 1 "show_abstract_btn" 1) }}
      </div>

     <div class="pub-abstract" itemprop="text" id="{{.Params.title}}" style="display: none">
        {{ .Params.abstract }}
      </div>

    <div style="height:20px">
    </div>

    </div>
  </div>
</div>

<script>
function showContent(id) {
  if(document.getElementById(id).style.display == '')
  {
    document.getElementById(id).style.display='none';
  }
  else 
  {
    document.getElementById(id).style.display='';
  }
}
</script>
